global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'victim'
    static_configs:
      - targets: ['192.168.111.13:9100']

  - job_name: 'controller'
    static_configs:
      - targets: ['192.168.111.12:9100']
